.pad{
  padding-left: 5rem 0;
}

#thumb-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    background: #efefef;
}

.thumbs {
  flex-grow: 1;
  align-self: stretch;
  position: relative;
}

.thumbs:hover .project-info {
  animation: show-details .5s forwards;
-webkit-animation: show-details .5s forwards;
}

.thumbs:hover {
  animation: onlarge .3s forwards;
-webkit-animation: onlarge .3s forwards;
z-index: 8;
}

.thumbs img {
  max-width: 100%;
  width: 100%;
}

.thumbs a {
  width: 100%;
  height: 100%;
  display: block;
  font-size: 0;
}

.project-info {
  position: absolute;
  background: #fff;
  width: 100%;
  bottom: 0;
  opacity: 0;
}

.project-info p {
  font-size: 11px !important;
  text-align: center;
  margin: 1em 0;
  text-transform: uppercase;
  color: #000;
}

.feature h3 {
  font-size: 1.4em;

}

.feature p {
  color: #5e5e5e;
  margin-top: 28px;
}

.feature img {
  margin: 0 auto;
  display: block;
}

@keyframes show-details {
  0% { opacity: 0; bottom: -10px; }
  100% { opacity: 1; bottom: 0; }
}

@keyframes onlarge {
  0% { transform: scale(1); }
  40% { transform: scale(1.15); }
  100% { transform: scale(1.05); }
}

@media only screen and (max-width: 40em) {
  .thumbs {
    width: 50%;
  }
}

@media only screen and (min-width: 64.063em) {
  .thumbs {
    max-width: 300px;
  }
}

@media only screen and (max-width: 64.063em) {
  .feature h3, .feature p {
    text-align: center;
  }

  .feature p {
    margin-bottom: 30px;
  }

  .feature img {
    margin-bottom: 15px;
  }
}
