<div *ngIf="projects" [@slideIn]='state'>

  <div id="thumb-container">
    <div *ngFor="let project of projects" class="thumbs">
      <a routerLink="/project/{{ project.id }}">
        <div class="project-info">
          <p>{{ project.name }}</p>
        </div>
          <img src="{{ project.covers['230'] }}">
      </a>
    </div>
  </div>

</div>

<div class="row pad feature">
  <div class="columns small-12 large-1">
    <img src="assets/icon-frontend.png">
  </div>
  <div class="columns small-12 large-5">
    <h3>Frontend Development</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ornare fringilla sapien. Praesent aliquam lorem ut fermentum sagittis. Ut euismod libero eu erat sagittis cursus. Etiam lobortis risus odio, non varius arcu eleifend vitae. </p>
  </div>
  <div class="columns small-12 large-1">
    <img src="assets/icon-backend.png">
  </div>
  <div class="columns small-12 large-5">
    <h3>Backend Development></h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ornare fringilla sapien. Praesent aliquam lorem ut fermentum sagittis. Ut euismod libero eu erat sagittis cursus. Etiam lobortis risus odio, non varius arcu eleifend vitae. </p>
  </div>

</div>
