<header>
    <div class="row">
        <div class="columns large-4 small-10 header-left">
          <a href="#" id="auth-lnk">Ian Baylis</a>
          <p class="subtext">Front-End Developer from Philadelphia, Pa </p>
        </div>
        <div class="columns large-8 small-2 header-right">
          <img src="assets/menu.svg" id="menu" (click)="toggle()">
          <ul [ngClass]="{show: opened, animMenu: opened}">
            <li id="exit"><img src="assets/close.svg" (click)="toggle()"></li>
            <li><a href="#">Home</a></li>
            <li><a href="#">My Work</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>

        </div>
    </div>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
</header>
